.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    text-decoration: none;
    color: #2f80ed;
    top: 50%;
    transition: opacity 0.5s ease;
    transform: translateY(-100%);
  }
  
  .feynman__link:hover{
  opacity: 0.7;
}